@charset "utf-8";



/* ========================================
    全体設定
========================================= */

body {
  width: 100%;
  color: #FFF;
  line-height: 1.5;
  font-family: 'Noto Sans Japanese', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #434126;
}


/*ここからwebフォント読み込み*/

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url('font/NotoSansCJKjp-Light.eot');
  src: url('font/NotoSansCJKjp-Light.eot?#iefix') format('embedded-opentype'), url('font/NotoSansCJKjp-Light.woff') format('woff'), url('font/NotoSansCJKjp-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url('font/NotoSansCJKjp-DemiLight.eot');
  src: url('font/NotoSansCJKjp-DemiLight.eot?#iefix') format('embedded-opentype'), url('font/NotoSansCJKjp-DemiLight.woff') format('woff'), url('font/NotoSansCJKjp-DemiLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url('font/NotoSansCJKjp-Bold.eot');
  src: url('font/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'), url('font/NotoSansCJKjp-Bold.woff') format('woff'), url('font/NotoSansCJKjp-Bold.ttf') format('truetype');
}


/*webフォント読み込みここまで*/

a {
  color: #FFF;
  text-decoration: none;
}

html {
  margin: 0px;
  padding: 0px;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


/* ========================================
    ヘッダー
========================================= */

#nav-wrap {
  position: fixed;
  width: 100%;
  background: #3C3B1F; !important;
  z-index: 9999;
  
}

#fixed-nav {
  height: 60px
}

#site-title {
  float: left;
  margin: 10px 0 10px 20px;
}

#title a {
}

#title img {
  height: 40px;
  vertical-align: bottom;

}

#tools-wrap {
  float: right;
  height: 100%;
}

#category-list {
  float: left;
  height: 100%;
  margin-right: 30px;
}

#category-list li {
  float: left;
  height: 100%;
  margin-right: 30px;
}

#category-list li:last-child {
  margin-right: 0;
}

#category-list li a {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
}

#search-box {
  display: flex;
  height: 26px;
  text-align: center;
  align-items: center;
  float: left;
  margin: 17px 30px 17px 0;
  border-bottom: solid 1px;
}

#search-box input {
  font-size: 16px;
  outline: 0;
  border: 0px;
  background: transparent;
  padding: auto 0;
}

:placeholder-shown {
    color: #FFF;
}

.sns_box {
  float: left;
  margin-right: 30px;
}

.sns_button {
  float: left;
  margin: 13px 6px 13px 0px;
  box-shadow: inset 0 0 0 1px #FFF;
  border-radius: 100%;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}

.sns_button:last-child {
  margin: 13px 0px 13px 0px;
}

.sns_button a {
  display: table-cell;
  width: 34px;
  height: 34px;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}

.sns_button i {
  font-size: 20px;
  vertical-align: middle;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}

.twitter:hover {
  box-shadow: inset 0 0 0 1px #1B95E0;
}

.twitter:hover i {
  color: #1B95E0;
}

.facebook:hover {
  box-shadow: inset 0 0 0 1px #3B5999;
}

.facebook:hover i {
  color: #3B5999;
}

.instagram:hover {
  box-shadow: inset 0 0 0 1px #D93177;
}

.instagram:hover i {
  color: #D93177;
}

#main-visual {
  width: 100%;
  display: inline-block;
}

#main-visual img {
  width: 100%;
  vertical-align: bottom;
}


/* ========================================
    記事一覧
========================================= */

#contents-wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#contents {
  display: flex;
  margin-top: 25px;
  width: 80%;
}

#entries {
  margin: 0 2% 0;
  flex: 1 1 0%;
}

.post {
  float: left;
  width: 25%;
  margin: 30px;
  padding: 1%;
  background-color: rgba(67, 33, 53, 0.1);
  font-size: 1.2vw;
  border-radius: 100% 100% 0 0;
}

.post:first-child {
}



.category-icon {
 
}


.post-info {
}

.post-title {}

.tag-list {
  font-size: 0px;
  margin-top: 4px
}

.tag-list li {
  font-size: 1vw;
  display: inline-block;
  margin: 0px 8px 2px 0px;
}

.update {
}

/* カテゴリごとに色分け */

.art {
  background-color: rgba(67, 33, 53, 0.1);
}

.art .category-icon {
  background-color: #4B1B32;
}

.culture {
  background-color: rgba(64, 91, 27, 0.1);

}

.culture .category-icon {
  background-color: #405B1B;
}

.trip {
  background-color: rgba(24, 43, 133, 0.1);
}

.trip .category-icon {
  background-color: #182B85;
}

